@model IEnumerable<OSBB_BLL.Models.UtilityDTO>

<form>
    @foreach (var item in Model)
    {
    <label class="checkbox-inline">
        <input type="checkbox" value="@item.UtilityId" />
        @item.UtilityName (@item.UnitName)
    </label>
    }
</form>
